<!DOCTYPE html>
<html class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/set.css}">

<body><div id="wrapper">
    
    <h1>＜LINEヤフーテックアカデミーで開発したJavaツール＞</h1>
    
    <table>
        <tr>
            <td width="55%">
                <br>
                <h3>①データ検索 機能</h3>
                <form th:action="@{/search/}" method="post" style="display: inline">
                    <input type="text" placeholder="アカウントID入力(例：1)" name="empcode" th:value="${empcode}">
                    <input type="submit" value="検索開始" class="btn btn-primary">
                </form>
                <a th:href="@{/search/csv(empcode=${empcode})}" class="btn btn-primary">CSV出力</a>
            </td>
            <td width="45%">
                <br>
                <h3>②データCSV取込 機能</h3>
                <form th:action="@{/csv}" method="post" enctype="multipart/form-data">
                    <label for="file">CSVファイル： </label>
                    <input type="file" id="file" name="file" th:value="${file}" accept=".csv" required><br>
                    <button type="submit" class="btn btn-primary">取込実行</button>
                </form>
                <div th:if="${error}" style="color: red;">Error: <span th:text="${error}"></span></div>
            </td>
        </tr>
    </table>
    
    <br><a th:href="@{/all/}" class="btn btn-primary">データ全件取得</a>
    <span class="mb-3" th:text="'（ 現在の全データ数：' + ${listSize} + '件 ）'"></span><br>

    <div class="row">
    <div class="col-xl-11">
    <div class="card">
    <div class="card-body">
        <table class="table table-striped w-100">
        <thead>
            <tr>
                <th>アカウントID</th>
                <th>アカウント名</th>
                <th>キーワード</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="report:${reportList}">
                <td class="align-middle" th:text="${report.employeeCode}"></td>
                <td class="align-middle" th:text="${report.title}"></td>
                <td class="align-middle text-break p-2" th:text="${report.content}"></td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
    </div>
    </div>
</div></body>
</html>